ErrorDocument 404 /gerpet/src/views/page_errors/404.html
ErrorDocument 403 /gerpet/src/views/page_errors/403.html

# Se for um diretório executar as regras
RewriteCond %{REQUEST_FILENAME} !-f
 
# Redireciona para index.php se antender as condições acima
RewriteRule ^(.*)$ index.php